body{
    background-color: teal;
    
}

*{
    box-sizing: border-box;
}


.container{
    margin: auto;
    width: 50%;
    padding: 16px;
    background-color: white;
   
}

input[type='text'],
input[type='password'] {

    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke ;

}

input[type='text']:focus,
input[type='password']:focus {
    background-color: #dddd;
    outline: none;
}

.registerbtn{
    background-color: teal;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;

}

.registerbtn:hover{
    opacity: 1;
}